<form class="auth-form">
  <div class="input-field">
    <input type="email" id="email" required />
    <label for="email">Email</label>
  </div>
  <div class="input-field">
    <input type="password" id="password" required />
    <label for="password">Password</label>
  </div>
  <div class="buttons-auth">
    <button type="submit" class="forgot-password">Forgot password?</button>
    <button type="submit" class="form-button-register">Register</button>
    <button type="submit" class="form-button-sign-in">Sign in</button>
  </div>
</form>