<footer class="footer">
  <div class="container footer-container">
    <p class="footer-text">&#169; 2023 | All Rights Reserved |</p>
    <p class="footer-text">Developed with</p>
    <button class="footer-link" data-team-modal-open>
      <svg width="14" height="13">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      by GoIT Students
    </button>
    <!-- <a class="footer-link" href="#" data-team-modal-open
      >Developed with
      <svg width="14" height="13">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      by GoIT Students</a
    > -->
  </div>
</footer>
