<header class="library-header">
  <div class="container">
    <nav class="library-navigation">
      <div class="library-navigation__logo-wrapper">
        <a href="./index.html" class="library-navigation__logo-icon">
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
        </a>
        <a href="./index.html" class="library-navigation__logo-text"
          >Filmoteka</a
        >
      </div>

      <ul class="library-navigation__list">
        <li class="library-navigation__item">
          <a href="./index.html" class="library-navigation__link">Home</a>
        </li>
        <li class="library-navigation__item">
          <a
            href="./library.html"
            class="library-navigation__link library-navigation__link--current"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="library-header__button-list">
      <li>
        <button type="button" class="library-header__button js-btn-watched">
          Watched
        </button>
      </li>
      <li>
        <button type="button" class="library-header__button js-btn-queue">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
