<div class="backdrop-foot is-hidden data-modal">
  <div class="students-modal">
    <section class="team-container">
      <div>
        <button type="button" class="students-modal__close-btn">
          <svg class="students-modal__close-btn--svg">
            <use href="images/sprite.svg#icon-film"></use>
          </svg>
        </button>
        <h2 class="team__header">
          <span class="team__header--accent">Fast</span
          ><span class="team__header--and">And</span
          ><span class="team__header--accent">Successful </span>team
        </h2>
        <ul class="team">
          <li>
            <a
              href="https://github.com/ThisNarciss"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Artem.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names">Артем Козлов</p>
                  <p class="team__positions">Team Leader</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/ThisNarciss"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/JulsZhovanyk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Yula.jpg"
                  alt="picture of JulsZhovanyk"
                />

                <figcaption>
                  <p class="team__names">Юлія Жованик</p>
                  <p class="team__positions">Scrum Master</p>

                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/JulsZhovanyk"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/Petro-Psekho"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Petro.jpg"
                  alt="picture of Petro-Psekho"
                />

                <figcaption>
                  <p class="team__names">Petro-Psekho</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/Petro-Psekho"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/IlyaLevchenko04"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Ilya.jpg"
                  alt="picture of IlyaLevchenko"
                />

                <figcaption>
                  <p class="team__names">Ілля Левченко</p>
                  <p class="team__positions">Developer</p>

                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/IlyaLevchenko04"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/YarynaLe"
              target="_blank"
             rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Yarina.jpg"
                  alt="picture of Yaryna Lekhka"
                />

                <figcaption>
                  <p class="team__names">Ярина Лехка</p>
                  <p class="team__positions">Developer</p>
                
                    
                  </p>

                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/YarynaLe"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use
                              href="images/sprite.svg#icon-github"
                              target="_blank"
                              rel="noopener noreferrer"
                            ></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/AnnaChechenina"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Anna.jpg"
                  alt="picture of AnnaChechenina"
                />

                <figcaption>
                  <p class="team__names">Ганна Чеченіна</p>
                  <p class="team__positions">Developer</p>
                  
                  
                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/AnnaChechenina"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                     
                    </ul>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/OleksandrDika"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Aleksandr.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names">Олександр Мемей</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/OleksandrDika"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/nazarenkoalx"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Alex_N.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names">Олександр Назаренко</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/nazarenkoalx"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/Djucbko"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Denis.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names">Денис Барановський</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/Djucbko"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/I-Kolesnyk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Ira.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names">Ірина Колесник</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/I-Kolesnyk"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/Sergey.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names">Сергій </p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/noimage.jpg"
                  alt="picture of Artem"
                />
                <figcaption>
                  <p class="team__names"></p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/sprite.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
