.movie-card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  &__list {
    max-width: 280px;

    margin-bottom: 20px;
  }

  &__poster {
    background-image: url(/src/images/no-photo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 594px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  &__title {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--base-text-color);
  }

  &__geners {
    color: var(--second-text-color);
  }
}

@media screen and (min-width: 768px) {
  .movie-card {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    gap: 32px;

    font-size: 12px;
    line-height: 1.25;

    &__list {
      max-width: 336px;
      margin-bottom: 32px;
    }

    &__poster {
      margin-bottom: 8px;
    }

    &__title {
      margin-bottom: 7px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .movie-card {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    gap: 15px;

    &__list {
      max-width: 395px;
      margin-bottom: 32px;
    }

    &__poster {
      margin-bottom: 12px;
      border-radius: 5px;
    }

    &__title {
      margin-bottom: 7px;
      text-transform: uppercase;
      color: var(--base-text-color);
    }

    &__geners {
      color: var(--second-text-color);
    }
  }
}
