<div class="backdrop is-hidden" data-team-modal>
  <div class="modal-team">
    <button
      class="modal-close-btn js-modal-close-btn"
      type="button"
      data-team-modal-close
    >
      <svg class="modal-close-btn-icon">
        <use href="./images/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <p class="modal__title">Our team</p>
    <p class="modal__team-name">бий москаля</p>
    <ul class="modal__team-list">
      <!-- kozlov -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/kozlov.jpg"
            alt="Artem Kozlov"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Artem Kozlov</p>
          <p class="member_position">Team Lead</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- juls -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/juls.jpg"
            alt="Juls"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Juls Jhovanyk</p>
          <p class="member_position">Scrum Master</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- nazarenko -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/nazarenko.jpg"
            alt="Nazarenko Alex"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Alex Nazarenko</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- petro -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/psekho.jpg"
            alt="Petro Psekho"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Petro Psekho</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- serj -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/no-photo.png"
            alt="Serj"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Serj</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- oleksandr no foto -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/no-photo.png"
            alt="oleksandr"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Oleksandr</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- den -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/den.jpg"
            alt="just Den"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Denys Baranovskiy</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- kolesnyk -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/kolesnyk.jpg"
            alt="Iryna Kolesnyk"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Iryna Kolesnyk</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- chechenina -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/chechenina.jpg"
            alt="chechenina"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Anna Chechenina</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- yaryna -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/lekhka.jpg"
            alt="Yaryna Lekhka"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Yaryna Lekhka</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- jotaro kudzho -->
      <li class="team-list__member">
        <div class="member__photo-wrapper">
          <img
            src="/src/images/team-members-foto/levchenko.jpg"
            alt="jotaro kudzho"
            class="member__photo"
          />
        </div>
        <div class="member__info-wrapper">
          <p class="member_name">Levchenko Iliya</p>
          <p class="member_position">Developer</p>
          <ul class="member_contacts">
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="linkedin link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="facebook link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__item-link link">
                <svg
                  lang="en"
                  aria-label="git hub link"
                  class="contacts__item-icon"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
